// Sass variables (compile-time)

$font-sans: Avenir, Helvetica, Arial, sans-serif;

// Dark (default)
$bg: #242424;
$text: rgba(255, 255, 255, 0.87);
$link: #646cff;
$link-hover: #535bf2;
$focus-ring: #646cff;

// Light
$bg-light: #ffffff;
$text-light: #213547;
$link-hover-light: #747bff;

// colours
$gray: #babab7;
$error-red: #b5051a;


// sizes
$common-border-size: 1px;
$common-border-radius: 10px;
$normal-padding: 0.4rem 0.6rem;
$font-size-small: 0.8rem;
$font-size-xsmall: 0.6rem;
