@use "globals" as *;

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
    
}

.form-button {
    font-size: $font-size-small;
    padding: $normal-padding;
    width: 100%;
}

form {

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    font-size: $font-size-small;

    label {
        margin-left: 0.4rem;
    }
}

.form-text-input {
    padding: $normal-padding;
}

.form-link {
    font-size: $font-size-small;
}

.form-submit-container {
    display: flex;
    flex-direction: column;
   
}

.error-message {
    color: $error-red;
    font-size: $font-size-xsmall;
    min-height: $font-size-xsmall;
}
