@use "./reset.scss";

/* Global defaults (keep these lightweight) */
:root {
  font-family: $font-sans;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Respect user font size: no forcing 16px; rem will still work as expected */
html {
  font-size: 100%;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-height: 100vh;

//   font-family: $font-sans;
  line-height: 1.5;

  background-color: $bg;
  color: $text;
}

a {
  color: $link;
}
a:hover {
  color: $link-hover;
}

:focus-visible {
  outline: 2px solid $focus-ring;
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: $bg-light;
    color: $text-light;
  }

  a:hover {
    color: $link-hover-light;
  }
}

h1 {
    // font-family: ;
  font-size: 3.2rem;
  line-height: 1.1;
  color: red;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {

}
