@use "./reset.scss";
@use "./form.scss";

/* Global defaults (keep these lightweight) */
:root {
    font-family: $font-sans;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Respect user font size: no forcing 16px; rem will still work as expected */
html {
    font-size: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
}

a {
    color: $link;
}
a:hover {
    color: $link-hover;
}

// :focus-visible {
//   outline: 2px solid $focus-ring;
//   outline-offset: 2px;
// }

// matters if you wanna do light mode and dark mode
// @media (prefers-color-scheme: light) {
//   body {
//     background-color: $bg-light;
//     color: $text-light;
//   }

//   a:hover {
//     color: $link-hover-light;
//   }
// }

h1 {
    font-size: 2rem;
 
}

input[type="text"], input[type="password"] {
    // padding: 0.4rem 0.6rem;
    border: $common-border-size solid $gray;
    border-radius: $common-border-radius;
}

button {
    cursor: pointer;
    border: $common-border-size solid $gray;
    border-radius: $common-border-radius;
    background: none;
    color: black;
    
    .form-button & {
        padding: 0.2rem 0.5rem;
        
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }
}

#app {
        min-height: 100vh;
}
